/* Base styles for the page */
body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* Container that holds all the sticky sections */
.container { 
   /* Add optional styles in here */
}


/* Headers at the top of each section */
header.section-header {
   position: sticky; /* Makes the heading stick to the top while scrolling */
   top: 0; /* Position of sticky element at the top of the viewport */
   padding: 1rem; /* Adds space inside the heading box */
   background: #546880; /* Background color of the headers */
}

/* H2s inside each header */
.container h2 {
   color: white; /* Color of the h2 */
   letter-spacing: 0.05rem; /* Adds extra space between letters */
   font-size: 140%; /* Size of the text */
}


/* The content inside each section area */
.section-content {
   padding: 1rem; /* Space inside the content area */
   max-width: 90%; /* How wide the content should be */
   margin: 0 auto; /* Centers the content within the section */
   font-size: 120%; /* Size of the text */
   line-height: 1.3; /* Space between lines of text */
}